.build
agbplay-gui
*.wav
*.exe
*.o
moc_*
.qmake.stash
/Makefile
core
Makefile.Debug
Makefile.Release
Makefile.agbplay-gui
*plugin_import.cpp
*resource.rc
cross-qmake.sh
windows/qtbase
windows/portaudio
windows/lib
windows/include
windows/bin
windows/.build
windows/cross
windows/mkspecs
windows/doc
windows/plugins
